<div class="w3-container w3-border">
  <h3>
    New Book
  </h3>
</div>

<form class="w3-container">
  <label>No:</label>
  <span >{{bookModel.no}}</span>
  <br/>
  <label>subject:</label>
  <input class="w3-input w3-border" type="text" [value]="bookModel.subject">
  <br/>
  <label>author:</label>
  <input class="w3-input w3-border" type="text" [value]="bookModel.author">
  <br/>
  <label>reg_date:</label>
  <input class="w3-input w3-border" type="text" [value]="bookModel.reg_date | date : 'yyyy.MM.dd HH:mm:ss'">
  <br/>
  <label>reg_id:</label>
  <input readonly="readonly" class="w3-input w3-border" type="text" [value]="bookModel.reg_id">
  <br/>
  <label>read_status:</label>
  <input class="w3-input w3-border" type="text" [value]="bookModel.read_status ? '읽음': '아직'">
  <br/>
  <label>update_date:</label>
  <input class="w3-input w3-border" type="text" [value]="bookModel.update_date | date : 'yyyy.MM.dd HH:mm:ss'">
  <br/>
  <label>server_name:</label>
  <input class="w3-input w3-border" type="text" [value]="bookModel.server_name">
  <br/>
  <label>future_date:</label>
  <input class="w3-input w3-border" type="text" [value]="bookModel.future_date | date : 'yyyy.MM.dd HH:mm:ss'">
  <br/>
  <label>review_url:</label>
  <input class="w3-input w3-border" type="text" [value]="bookModel.review_url">
  <br/>

  <button class="w3-button w3-blue" type="button" (click)="notFunction()">Sender</button>
  <button class="w3-button w3-red" type="button" (click)="notFunction()">Reset</button>
</form>
